<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome in Swiftlang!</h1>

    <div id="welcomeMessage">
        <p>Use ctrl+o to load sheet</p>
        <p>Use ctrl+n to add word to loaded sheet</p>
        <p>In order to submit query type "#dog @pies"</p>
    </div>

    <div id="activeSheet">
        <p>Currently open sheet: <span id="title">NONE</span></p>
        <div id="words">

        </div>
    </div>

    <div style="visibility: hidden" >

        <div id="openSheetDialog">
            <input id="selectedSheet" type="text" list="availableSheets" placeholder="Open Sheet"/>
            <!-- this data list can be moved somewhere else -->
            <datalist id="availableSheets"></datalist>
        </div>

        <div id="submitQueryDialog">
            <input id="expression" type="text" />
        </div>

    </div>
</body>
</html>